*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}


.container{
    max-width: 1220px;
    Margin-inline: 1.5rem;
}


.customer__title{
    text-align: center
}
.customer__container{

}

.customer__swiper{

}
.customer__article{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 3rem 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
}
.customer__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    width: 100%;
    margin: 0 auto 1.5rem;
}
.customer__star{

}
.ri-star-s-fill{

}
.ri-star-half-s-line{

}